@model ProductVM


@if (Model.QueryError)
{
    <div>@Model.QueryErrorMessage</div>
}
else
{
    <div class="card-body p-4 col-12">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                @Model.BrandedResult.Foods.Count results...
                <div class="col-12">

                    <div class="d-flex flex-wrap border p-12">
                        @{
                            foreach (var product in Model.BrandedResult.Foods)
                            {
                                <div class="card product-card m-1">
                                    <div class="card-body">
                                    <div class="d-flex">
                                        <h3 class="card-title @(product.MaxReactionColor.ToLower())">@product.Description</h3>
                                            @* <div class="chip-badge-large foodChip@(Model.Fodmap.Color.Name)Solid">abc</div> *@
                                            <div class="chip-badge-large foodChip@(product.MaxKnownFodColor)Solid"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                 title="@(product.MaxKnownFodColor == SD.COLOR_BLUE ? "No FODMAP identified yet" : $"Max known FODMAP: {product.MaxKnownFodColor}")">
                                                <span class="chip-badge-label-large">F</span>
                                            </div>
                                        </div>
                                        <h4 class="card-subtitle mb-2 text-muted">@product.BrandName</h4>
                                        <h5 class="card-subtitle mb-2 text-muted">@product.FoodCategory</h5>

                                        <div>Ingredients:</div>
                                        <div class="d-flex flex-wrap">
                                            @foreach (var item in Model.IngredientsDict[product.FdcId])
                                            {
                                                if (item.GetType().Name == nameof(FoodVM))
                                                {
                                                    <partial name="../Food/_FoodChipPartial.cshtml" model="((FoodVM)item).Food" />
                                                }
                                                else
                                                {
                                                    <div class="product-ingredient-divider">&nbsp;@item.ToString()&nbsp;</div>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <br />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
}