@model ProductVM


@if (Model.QueryError)
{
    <div>@Model.QueryErrorMessage</div>
}
else
{
    <div class="card-body p-4 col-12">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                @Model.BrandedResult.Foods.Count results...
                <div class="col-12">

                    <div class="d-flex flex-wrap border p-12">
                        @{
                            foreach (var product in Model.BrandedResult.Foods)
                            {
                                <div class="card product-card m-1">
                                    <div class="card-body">

                                        <h3 class="card-title">@product.Description</h3>
                                        <h4 class="card-subtitle mb-2 text-muted">@product.BrandName</h4>
                                        <h4 class="card-subtitle mb-2 text-muted">@product.FoodCategory</h4>

                                        <div>Ingredients:</div>
                                        <div class="d-flex flex-wrap">
                                            @foreach (var item in Model.IngredientsDict[product.FdcId])
                                            {
                                                if (item.GetType().Name == nameof(FoodVM))
                                                {
                                                    var fvm = (FoodVM)item;
                                                    var f = fvm.Food;

                                                    <a id="foodChip-@f.Id" class="badge food-chip foodChip@(fvm.MaxReactionColor) m-1" onClick="(activateModal('@f.Name', @f.Id))">@f.Name</a>
                                                    
                                                }
                                                else
                                                {
                                                    <div class="product-ingredient-divider">&nbsp;@item.ToString()&nbsp;</div>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <br />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
}

@section Scripts {
    @{
        <script src="~/js/product.js"></script>
        <script src="~/js/food.js"></script>
    }
}