@model ReactionVM


<h4>@Model.ActiveFood.Name</h4>

<div class="card-body p-4 col-12">
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                <div class="border p-12">
                    @{
                        foreach (var category in Model.Categories.Keys)
                        {
                            <h4>@category</h4>

                            <div>
                                @foreach (var r in Model.Categories[category])
                                {
                                    <div class="px-3 py-2">
                                        <div>
                                            <h5>@r.Name</h5>
                                        </div>
                                        <div class="d-flex">

                                            @foreach (var s in Model.Severities)
                                            {
                                                var fid = Model.ActiveFood.Id;
                                                var divId = $"{fid}-{r.Id}-{s.Id}";
                                                var reactions = Model.ExistingReactions;
                                                int activeSeverity = 0;

                                                _ = (reactions.ContainsKey(fid) && reactions[fid].TryGetValue(r.Id, out activeSeverity));

                                                <div id="@divId" class="d-flex px-2 pt-1 form-check-parent" onmouseup="testSubmit('@divId')">
                                                    <div class="form-check ">
                                                        <input @(activeSeverity == s.Id ? "checked" : "") class="form-check-input" type="radio" name="radioGroup-@(category)-@(r.Id)" id="radio@(divId)" value="@(divId)">
                                                        <label class="form-check-label" for="radio@(divId)">
                                                            @s.Name
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>

