@model MealVM


<form id="foodFormTest" method="post" class="row" enctype="multipart/form-data">
    <input asp-for="@Model.Meal.Id" value="@Model.Meal.Id" hidden />
    <input asp-for="@Model.MealItems" value="" hidden />
    <div class="row">
        <div class="col-12">
            <div class="border rounded p-3">
                <div class="d-flex justify-content-between">
                </div>

                <div class="d-flex">

                    <div class="form-floating py-2 col-6">
                        <input id="mealName" asp-for="@Model.Meal.Name" class="form-control food-input" value="@Model.Meal.Name" />
                        <label asp-for="@Model.Meal.Name" class="ms-2"></label>
                        <span asp-validation-for="@Model.Meal.Name" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-6">

                        <input id="mealDateTime" asp-for="@Model.Meal.DateTime" class="form-control food-input" />



                        <label asp-for="@Model.Meal.DateTime" class="ms-2"></label>
                        <span asp-validation-for="@Model.Meal.DateTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex">


                    <div class="form-floating py-2 col-6">
                        <select id="mealTypeInput" class="form-select food-input" asp-for="@Model.Meal.MealTypeId">
                            <option value="" selected>--Select Meal Type--</option>
                            @foreach (var mt in Model.MealTypes)
                            {
                                <option  value="@mt.Id">@mt.Name</option>
                            }
                        </select>
                    </div>



                    <div id="mealReactionResults" hidden></div>
                    <div class="btn-group">
                        <input 
                            id="mealReaction"
                               asp-for="@Model.Reactions"
                            hidden />
                        <button class="btn btn-success dropdown-toggle"
                                type="button"
                                id="multiSelectDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-bs-auto-close="outside">
                          
                            Select
                        </button>
                        <ul class="dropdown-menu"
                            aria-labelledby="multiSelectDropdown"
                            asp-for="@Model.Meal.MealTypeId">


                            <li><h6 class="dropdown-header">Stomach</h6></li>
                            <li value="1">
                                <label class="check-drop-option">
                                    <input id="reactionCheck-1" type="checkbox">
                                    Breakfast
                                </label>
                            </li>
                            <li value ="2">
                                <label class="check-drop-option">
                                    <input id="reactionCheck-2" type="checkbox">
                                    Lunch
                                </label>
                            </li>
                            <li value="3">
                                <label class="check-drop-option">
                                    <input id="reactionCheck-3" type="checkbox">
                                    Dinner
                                </label>
                            </li>

                            <li><h6 class="dropdown-header">Skin</h6></li>
                            <li value="4">
                                <label class="check-drop-option">
                                    <input id="reactionCheck-4" type="checkbox">
                                    Snack
                                </label>
                            </li>















                            @foreach (var category in Model.Categories.Keys)
                            {
                            
                            <li><h6 class="dropdown-header">@category</h6></li>

                                @foreach (ReactionType r in Model.Categories[category])
                                {
                                  
                                    @* <li value="@(r.Id)"> *@
                              @*       <li value="@r.Id">
                                        <label class="check-drop-option">
                                            <input id="reactionCheck-@{r.Id}" type="checkbox">
                                            @r.Name
                                        </label>
                                    </li>
 *@





                                    <li value="3">
                                        <label class="check-drop-option">
                                            <input id="reactionCheck-3" type="checkbox">
                                            Dinner
                                        </label>
                                    </li>

                                }
                         
                            }





























                        </ul>
                    </div>











                </div>

                <h3>Meal Items</h3>

                @if (Model.Meal.MealItems == null || Model.Meal.MealItems.Count == 0)
                {
                    <input asp-for="@Model.MealItems["new"].MealId" value="0" hidden />
                    <div style="display: flex; justify-content: flex-end;">
                        <a onclick="addMeal(@Model.Meal.Id)" class="btn btn-success">Add Meal Item</a>
                    </div>


                    <div class="d-flex">
                        <div class="form-floating py-2 col-6">
                            <select class="form-select food-input meal-item-food-input" asp-for="@Model.MealItems["new"].FoodId">
                                <option value="" selected>--Select Food--</option>
                                @foreach (var f in Model.Foods)
                                {
                                    <option value="@f.Id">@f.Name</option>
                                }
                            </select>
                        </div>

                        <div class="d-flex">

                            <div class="form-floating py-2 col-6">
                                <input asp-for="@Model.MealItems["new"].Volume" class="form-control food-input " />
                                <label asp-for="@Model.MealItems["new"].Volume" class="ms-2"></label>
                                <span asp-validation-for="@Model.MealItems["new"].Volume" class="text-danger"></span>
                            </div>


                            <div class="form-floating py-2 col-6">
                                <select class="form-select food-input meal-item-units" asp-for="@Model.MealItems["new"].VolumeUnitsId">
                                    <option value="" selected>--Units--</option>
                                    @foreach (var unit in Model.Units)
                                    {
                                        <option value="@unit.Id">@unit.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div id="mealGroup" name="meals" multiple class="form-group">
                    </div>
                }
                else
                {
                    <input asp-for="@Model.MealItems["new"].MealId" value="@Model.Meal.MealItems[0].MealId" hidden />
                    <div style="display: flex; justify-content: flex-end;">
                        <a onclick="addMeal(@Model.Meal.MealItems[0].Id)" class="btn btn-success">Add Meal Item</a>
                    </div>


                    <div class="d-flex">
                        <div class="form-floating py-2 col-6">
                            <select class="form-select food-input meal-item-food-input" asp-for="@Model.MealItems["new"].FoodId">
                                <option value="">--Select Food--</option>
                                @foreach (var f in Model.Foods)
                                {
                                    if (@Model.Meal.MealItems[0].FoodId == f.Id)
                                    {
                                        <option value="@f.Id" selected>@f.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@f.Id">@f.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="d-flex">

                            <div class="form-floating py-2 col-6">
                                <input asp-for="@Model.MealItems["new"].Volume" class="form-control food-input" value="@Model.Meal.MealItems[0].Volume" />
                                <label asp-for="@Model.MealItems["new"].Volume" class="ms-2"></label>
                                <span asp-validation-for="@Model.MealItems["new"].Volume" class="text-danger"></span>
                            </div>


                            <div class="form-floating py-2 col-6">
                                <select class="form-select food-input meal-item-units" asp-for="@Model.MealItems["new"].VolumeUnitsId" value="@Model.Meal.MealItems[0].VolumeUnitsId">
                                    <option value="" selected>--Units--</option>
                                    @foreach (var unit in Model.Units)
                                    {
                                        if (@Model.Meal.MealItems[0].VolumeUnitsId == unit.Id)
                                        {
                                            <option value="@unit.Id" selected>@unit.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@unit.Id">@unit.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div id="mealGroup" name="meals" multiple class="form-group">

                        @for (int i = 1; i < Model.Meal.MealItems.Count; i++) // Starts at 1; first item is addressed above in non-removable input (var mealItem in Model.Meal.MealItems)
                        {
                            <div class="d-flex border form-group rounded-2 my-2 shadow p-2 remove-meal-item-new@(Model.Meal.MealItems[i].Id)" style="background:white;">
                                <input asp-for="@Model.MealItems[i.ToString()].Id" value="@Model.Meal.MealItems[i].Id" hidden />
                                <input asp-for="@Model.MealItems[i.ToString()].MealId" value="@Model.Meal.MealItems[i].MealId" hidden />

                                <div class="form-floating py-2 col-6">
                                    <select class="form-select food-input meal-item-food-input" asp-for="@Model.MealItems[i.ToString()].FoodId">
                                        <option value="">--Select Food--</option>
                                        @foreach (var f in Model.Foods)
                                        {
                                            if (@Model.Meal.MealItems[i].FoodId == f.Id)
                                            {
                                                <option value="@f.Id" selected>@f.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@f.Id">@f.Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="d-flex">

                                    <div class="form-floating py-2 col-6">
                                        <input asp-for="@Model.MealItems[i.ToString()].Volume" class="form-control food-input" value="@Model.Meal.MealItems[i].Volume" />
                                        <label asp-for="@Model.MealItems[i.ToString()].Volume" class="ms-2"></label>
                                        <span asp-validation-for="@Model.MealItems[i.ToString()].Volume" class="text-danger"></span>
                                    </div>


                                    <div class="form-floating py-2 col-6">
                                        <select class="form-select food-input meal-item-units" asp-for="@Model.MealItems[i.ToString()].VolumeUnitsId">
                                            <option value="" selected>--Units--</option>
                                            @foreach (var unit in Model.Units)
                                            {

                                                if (@Model.Meal.MealItems[i].VolumeUnitsId == unit.Id)
                                                {
                                                    <option value="@unit.Id" selected>@unit.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@unit.Id">@unit.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                @using (Html.BeginForm())
                                {
                                    <div style="display: flex; justify-content:end">
                                        <a class="link-dark" type="button" onclick="removeNewMealItem(@Model.Meal.MealItems[i].Id)">Remove</a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }

                <div class="d-flex justify-content-end pt-2 ">
                    @if (Model.Meal.Id == 0)
                    {
                        <div class="col-6 col-md-3 m-1">
                            <button type="submit" class="btn btn-success food-input-button form-control">Add</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 col-md-3 m-1">
                            <button id="deleteFoodButton" onclick="removeMealConfirmation(@Model.Meal?.Id, '@Model.Meal?.Name.Replace("'","\'")')" type="button" class="btn btn-danger food-input-button form-control">Delete</button>
                        </div>
                        <div class="col-6 col-md-3 m-1">
                            <button type="submit" class="btn btn-primary food-input-button form-control">Update</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var unitJson = @Json.Serialize(Model.Units)
        var foodJson = @Json.Serialize(Model.Foods)
</script>