@model MealVM

<form id="foodFormTest" method="post" class="row" enctype="multipart/form-data">
    <input asp-for="@Model.Meal.Id" value="0" hidden />
    <input asp-for="@Model.MealItems" value="" hidden />
    <div class="row">
        <div class="col-12">
            <div class="border rounded p-3">
                <div class="d-flex justify-content-between">
                </div>

                <div class="d-flex">

                    <div class="form-floating py-2 col-6">
                        <input id="mealDateTime" asp-for="@Model.Meal.Name" class="form-control food-input " />
                        <label asp-for="@Model.Meal.Name" class="ms-2"></label>
                        <span asp-validation-for="@Model.Meal.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <input id="mealDateTime" asp-for="@Model.Meal.DateTime" class="form-control food-input " />
                        <label asp-for="@Model.Meal.DateTime" class="ms-2"></label>
                        <span asp-validation-for="@Model.Meal.DateTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-floating py-2 col-6">
                        <select id="mealTypeInput" class="form-select food-input" asp-for="@Model.Meal.MealTypeId">
                            <option value="" selected>--Select Meal Type--</option>
                            @foreach (var mt in Model.MealTypes)
                            {
                                <option value="@mt.Id">@mt.Name</option>
                            }
                        </select>
                    </div>


                </div>

                <h3>Meal Items</h3>


                <input asp-for="@Model.MealItems["new"].MealId" value="0" hidden />
                <div style="display: flex; justify-content: flex-end;">
                    <a onclick="addMeal(@Model.Meal.Id)" class="btn btn-success">Add Meal Item</a>
                </div>


                <div class="d-flex">
                    <div class="form-floating py-2 col-6">
                        <select class="form-select food-input meal-item-food-input" asp-for="@Model.MealItems["new"].FoodId">
                            <option value="" selected>--Select Food--</option>
                            @foreach (var f in Model.Foods)
                            {
                                <option value="@f.Id">@f.Name</option>
                            }
                        </select>
                    </div>

                    <div class="d-flex">

                        <div class="form-floating py-2 col-6">
                            <input asp-for="@Model.MealItems["new"].Volume" class="form-control food-input " />
                            <label asp-for="@Model.MealItems["new"].Volume" class="ms-2"></label>
                            <span asp-validation-for="@Model.MealItems["new"].Volume" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-2 col-6">
                            <select class="form-select food-input meal-item-units" asp-for="@Model.MealItems["new"].VolumeUnitsId">
                                <option value="" selected>--Units--</option>
                                @foreach (var unit in Model.Units)
                                {
                                    <option value="@unit.Id">@unit.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>

                <div id="mealGroup" name="meals" multiple class="form-group">
                    @if (false && Model.Meal.MealItems != null && Model.Meal.MealItems.Count > 0)
                    {
                        @foreach (string key in Model.MealItems.Keys)
                        {
                            <div class="border form-group rounded-2 my-2 shadow p-2 remove-meal-@Model.MealItems[key].Id" style="background:white;">
                                <input asp-for="@Model.MealItems[key].Id" hidden />
                                <input asp-for="@Model.MealItems[key].MealId" hidden />

                                <div class="form-check py-2 col-12">
                                    <input asp-for="@Model.MealItems[key].Volume" class="form-check-input border-1" />
                                    <label asp-for="@Model.MealItems[key].Volume" class="form-check-label ms-2 text-dark"></label>
                                    <span asp-validation-for="@Model.MealItems[key].Volume" class="text-danger"></span>
                                </div>

                                <div class="form-floating py-2 col-12">
                                    <select id="fodmapInput" class="form-select food-input" onchange="updateFodmapCard(this)" asp-for="@Model.MealItems[key].">
                                        <option value="" selected>--Select Units--</option>
                                        @foreach (var unit in Model.Units)
                                        {
                                            <option value="@unit.Id">@unit.Name</option>
                                        }
                                    </select>
                                </div>

                                @using (Html.BeginForm())
                                {
                                    <div style="display: flex; justify-content:end">
                                        <a class="link-dark" type="button" onclick="removeMealItemConfirmation(@Model.MealItems[key].Id)">Remove</a>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>

<script>
    var unitJson = @Json.Serialize(Model.Units)
    var foodJson = @Json.Serialize(Model.Foods)
</script>