@model CalendarVM

@{
    var MIN_DISPLAY_YEAR = 2021;
    var MAX_DISPLAY_YEAR = DateTime.Now.Year + 1;

    var MIN_DISPLAY_MONTH = 1;
    var MAX_DISPLAY_MONTH = 12;
}

<form method="post">
    <div class="d-flex align-items-center">
        <button asp-area="Guest" asp-controller="Calendar" asp-action="Index" class="btn btn-primary-dark">Go To @(Model.DateShortString)</button>
    </div>
    <div class="d-flex justify-content-between date-nav-row-two nav-controls py-3">
        <div id="calendar-nav-back-buttons" class="d-flex gap-2">
            @if (Model.ViewDate.Year <= MIN_DISPLAY_YEAR)
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="PriorYear" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Previous Year" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward-fill calendar-nav-img-rev p-0 m-0" viewBox="0 0 16 16">
                        <path d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557" />
                    </svg>
                </button>
            }
            else
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="PriorYear" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Previous Year">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward-fill calendar-nav-img-rev p-0 m-0" viewBox="0 0 16 16">                    
                        <path d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557" />
                    </svg>
                </button>
            }

            @if (Model.ViewDate.Year <= MIN_DISPLAY_YEAR && Model.ViewDate.Month <= MIN_DISPLAY_MONTH)
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="PriorMonth" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Previous Month" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward calendar-nav-img-rev p-0 m-0" viewBox="0 0 16 16">
                        <path d="M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933.042-.028a.147.147 0 0 0 0-.252l-.042-.028zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3z" />
                    </svg>
                </button>
            }
            else
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="PriorMonth" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Previous Month">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward calendar-nav-img-rev p-0 m-0" viewBox="0 0 16 16">
                        <path d="M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933.042-.028a.147.147 0 0 0 0-.252l-.042-.028zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3z" />
                    </svg>
                </button>
            }
        </div>

        <div class="d-flex gap-2 px-1">
           
            <select id="monthPicker" class="form-select " asp-for="@Model.ViewMonth" placeholder="Month">
                @foreach (var (m, i) in new DateTimeFormatInfo().MonthNames.Select((v, i) => (v, i + 1)).Take(12))
                {
                    if (i == (Model.ViewMonth))
                    {
                        <option class="calendar-month-option" value="@(i)" short="@m.Substring(0, 3)" long="@m" selected></option>
                    }
                    else
                    {
                        <option class="calendar-month-option" value="@(i)" short="@m.Substring(0, 3)" long="@m"></option>
                    }
                }
            </select>

            <select id="yearPicker" class="form-select" asp-for="@Model.ViewYear" placeholder="Year">
                @foreach (var y in Enumerable.Range(MIN_DISPLAY_YEAR, MAX_DISPLAY_YEAR - MIN_DISPLAY_YEAR + 1))
                {
                    if (y == Model.ViewYear)
                    {
                        <option value="@y" selected>@y</option>
                    }
                    else 
                    {
                        <option value="@y">@y</option>
                    }
                }
            </select>
            <button asp-area="Guest" asp-controller="Calendar" asp-action="JumpToDate" class="btn btn-primary">Go</button>
        </div>

        <div id="calendar-nav-forward-buttons" class="d-flex gap-2">

         

             @if (Model.ViewDate.Year >= MAX_DISPLAY_YEAR && Model.ViewDate.Month >= MAX_DISPLAY_MONTH)
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="NextMonth" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Next Month" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward calendar-nav-img p-0 m-0" viewBox="0 0 16 16">
                        <path d="M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933.042-.028a.147.147 0 0 0 0-.252l-.042-.028zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3z" />
                    </svg>
                </button>
            }
            else
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="NextMonth"  class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Next Month">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward calendar-nav-img p-0 m-0" viewBox="0 0 16 16">
                        <path d="M9.502 5.513a.144.144 0 0 0-.202.134V6.65a.5.5 0 0 1-.5.5H2.5v2.9h6.3a.5.5 0 0 1 .5.5v1.003c0 .108.11.176.202.134l3.984-2.933.042-.028a.147.147 0 0 0 0-.252l-.042-.028zM8.3 5.647a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.503H2a.5.5 0 0 1-.5-.5v-3.9a.5.5 0 0 1 .5-.5h6.3z" />
                    </svg>
                </button>
            }
            @if (Model.ViewDate.Year >= MAX_DISPLAY_YEAR)
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="NextYear" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Next Year" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward-fill calendar-nav-img p-0 m-0" viewBox="0 0 16 16">
                        <path d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557" />
                    </svg>
                </button>
            }
            else
            {
                <button asp-area="Guest" asp-controller="Calendar" asp-action="NextYear" class="btn btn-outline-light calendar-nav" data-toggle="tooltip" data-placement="top" title="Next Year" >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-forward-fill calendar-nav-img p-0 m-0" viewBox="0 0 16 16">
                        <path d="m9.77 12.11 4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557" />
                    </svg>
                </button>
            } 
        </div>
    </div>
</form>
