@model FoodVM

<form id="foodForm" method="post" class="row" enctype="multipart/form-data">
    <input id="foodId" asp-for="Food.Id" hidden />
    <input asp-for="FoodList" value="@Model.FoodList" hidden />
    <div class="row">
        <div class="col-12">
            <div class="border rounded p-3">
                <div class="d-flex justify-content-between">
                    <h5 id="foodHeader">@(Model.Food.Id == 0 ? "Add Food" : Model.Food.Name)</h5>
                    @if (Model.Food.Id != 0)
                    {
                        <a id="cancelButton" type="button" onclick="resetAllFields()">
                            <svg width="32" height="32" class="bi bi-x text-light" viewBox="0 0 16 16">
                                <path class="dark"d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </a>
                    }
                </div>

                <div class="form-floating py-2 col-12">
                    <input id="nameInput" class="form-control food-input shadow" asp-for="@Model.Food.Name" value="@Model.Food.Name" placeholder="Meal Name" />
                    <label asp-for="@Model.Food.Name" class="ms-2" for="nameInput"></label>
                    <span asp-validation-for="@Model.Food.Name" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between flex-wrap">
                    <div id="foodFormLeft">
                
                        <div>
                            <div class="form-check py-2 col-12">
                                <input id="vegetarianInput" class="food-input" onclick="clickVegetarian()" asp-for="Food.IsVegetarian" class="form-check-input border-0 shadow" />
                                <label asp-for="Food.IsVegetarian" class="form-check-label ms-2"></label>
                            </div>

                            <div class="form-check py-2 col-12">
                                <input id="veganInput" class="food-input" onclick="clickVegan()" asp-for="Food.IsVegan" class="form-check-input border-0 shadow" />
                                <label asp-for="Food.IsVegan" class="form-check-label ms-2"></label>
                            </div>

                            <div class="form-check py-2 col-12">
                                <input id="glutenInput" class="food-input" asp-for="Food.IsGlutenFree" class="form-check-input border-0 shadow" />
                                <label asp-for="Food.IsGlutenFree" class="form-check-label ms-2"></label>
                            </div>
                        </div>

                        <div>
                            <div id="foodAliasList"></div>
                            <div class="tags-input form-control shadow">
                                <ul id="tags">
                                    @if (Model.Food.Aliases != null)
                                    {
                                        @foreach (var alias in Model.Food.Aliases)
                                        {
                                            <li id="alias-@Model.Food.Id-@alias.Id" class="bg-success text-white">
                                                @alias.Alias
                                                <svg class="alias-delete text-white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                                </svg>
                                            </li>
                                        }
                                    }
                                </ul>


                                <input type="text" id="input-tag" class="alias-input" foodId="@Model.Food.Id" placeholder="Enter Aliases" />
                            </div>
                            <span id="aliasHelper">Press "Enter" after each entry </span>
                        </div>
                        
                    </div>

                    <div class="fodSelectContainer">
                        @{
                            var fm = Model.FodmapList.FirstOrDefault(f => f.Id == Model.Food.FodmapId);
                        }
                        <div id="fodCardContainer">
                            <partial name="_FodmapSelectorPartial" />
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end pt-2 ">
                    @if (Model.Food.Id == 0)
                    {
                        <div class="col-6 col-md-3 m-1">
                            <button asp-area="Guest" asp-controller="Food" asp-action="AddFood" class="btn btn-success food-input-button form-control">Add</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 col-md-3 m-1">
                            <button id="deleteFoodButton" onclick="removeFoodConfirmation(@Model.Food?.Id, '@Model.Food?.Name.Replace("'","\'")')" type="button" class="btn btn-danger food-input-button form-control">Delete</button>
                        </div>
                        <div class="col-6 col-md-3 m-1">
                            <button asp-area="Guest" asp-controller="Food" asp-action="AddFood" class="btn btn-primary food-input-button form-control">Update</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <partial name="_ValidationScriptsPartial" />
</form>
