@model FoodVM

<form id="foodFormTest" method="post" class="row" enctype="multipart/form-data">
    <input id="foodId" asp-for="Food.Id" hidden />
    <input asp-for="FoodList" value="@Model.FoodList" hidden />
    <div class="row">
        <div class="col-12">
            <div class="border p-3">
                <div class="d-flex justify-content-between">

                    <span id="foodHeader">@(Model.Food.Id == 0 ? "Add Food" : Model.Food.Name)</span>

                    <a id="cancelButton" class="hiddenButton" type="button" onclick="resetAllFields()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg>
                    </a>
                </div>
                <div class="form-floating py-2 col-12">
                    <input id="nameInput" asp-for="Food.Name" class="form-control food-input border-0 shadow" />
                    <label asp-for="Food.Name" class="ms-2"></label>
                    <span asp-validation-for="Food.Name" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">

                    <div>

                        <div>
                            <div class="form-check py-2 col-12">
                                <input id="vegetarianInput" class="food-input" onclick="clickVegetarian()" asp-for="Food.Vegetarian" class="form-check-input border-0 shadow" />
                                <label asp-for="Food.Vegetarian" class="form-check-label ms-2"></label>

                            </div>

                            <div class="form-check py-2 col-12">
                                <input id="veganInput" class="food-input" onclick="clickVegan()" asp-for="Food.Vegan" class="form-check-input border-0 shadow" />
                                <label asp-for="Food.Vegan" class="form-check-label ms-2"></label>
                            </div>

                            <div class="form-check py-2 col-12">
                                <input id="glutenInput" class="food-input" asp-for="Food.GlutenFree" class="form-check-input border-0 shadow" />
                                <label asp-for="Food.GlutenFree" class="form-check-label ms-2"></label>
                            </div>
                        </div>

                        <div>
                            <div id="foodAliasList"></div>

                            ID:
                            @Model.Food.Id

                            <div class="tags-input form-control">
                                <ul id="tags">

                                    @if (Model.Food.Aliases != null)
                                    {
                                        @foreach (var alias in Model.Food.Aliases)
                                        {
                                            <li id="alias-@Model.Food.Id-@alias.Id" class="alias-item">
                                                @alias.Alias
                                                <svg class="alias-delete xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                                </svg>
                                            </li>
                                        }
                                    }
                                </ul>
                                <input type="text" id="input-tag" foodId="@Model.Food.Id" placeholder="Enter Aliases" />
                            </div>

                        </div>
                    </div>

                    <div class="fodSelectContainer">
                        @{
                            var fm = Model.FodmapList.FirstOrDefault(f => f.Id == Model.Food.FodmapId);
                        }
                        <div id="fodCardContainer">
                            <partial name="_FodmapSelectorPartial" />

                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <a asp-area="Guest" asp-controller="Food" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        @* <button id="submitButton" asp-area="Guest" asp-controller="Food" asp-action="AddFood" class="btn btn-primary food-input-button form-control">@(newFood ? "Add" : "Update")</button> *@
                        <button onclick="submitFoodUpdate()" type="button" class="btn btn-primary food-input-button form-control">UPSERT</button>
                    </div>

                    <div class="col-6 col-md-3">

                        <button id="deleteFoodButton" onclick="removeFoodConfirmation()" type="button" class="btn btn-danger food-input-button form-control">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@* <script src="~/js/addFood.js"></script> *@

