@model FoodVM

@{
    var fm = Model.FodmapList.FirstOrDefault(f => f.Id == Model.Food.FodmapId);
}

@if (Model.Food.FodmapId > 0)
{
    <div class="card fodCard col-6 p">
        <div id="fodColor" class="fodFlag fod@(fm?.Color?.Name)"></div>
        <div class="card-body">
            <div class="card-title">
                <h4 id="fodName" class="fodTitle">@fm.Name</h4>
            </div>
            <div id="fodCategory">
                @fm.Category.Name
            </div>
            <div class="d-flex align-items-end">
                <div class="fodAliasLabel">Aliases: &nbsp;</div>
                <div id="fodAlias" class="fodAlias">@(fm.Aliases != null ? string.Join(", ", fm.Aliases.ToList().Select(a => a.Alias)) : "None")</div>
            </div>
            <div id="fodDailyIntake" class="d-flex justify-content-between pt-2">
                <div id="fodDot" class="fodColorCircle fod@(fm.Color.Name)"></div>

                <div id="fodMaxIntakeContainer">



                    @if (fm.MaxUse < 9999)
                    {
                        <div id="fodMaxIntakeContainer" class="fodMaxIntakeContainer d-flex flex-column justify-content-end">
                            <div class="fodMaxIntake display-5">
                                @fm.MaxUse  @(fm.MaxUse == 1 ? fm.MaxUseUnits.ShortName : fm.MaxUseUnits.ShortNamePlural)
                            </div>
                            <div>Max Daily Intake</div>
                        </div>
                    }
                    else if (fm.MaxUse == -1)
                    {
                        <div class="fodUnknownContainer">
                            <div>
                                <svg class="fodCheckUnknown" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 16 16">
                                    <path d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14" />
                                </svg>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="fodSafeCheckContainer">
                            <svg class="fodSafeCheck" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                                <path d="M9 16.17 4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
                            </svg>
                        </div>
                        <div> FODMAP Safe! </div>
                    }

                </div>

                <div class=" fodElements">

                    <div id="elementsContainer">

                        @foreach (var el in new string[] { "Oligos", "Fructose", "Polyols", "Lactose" })
                        {
                            var active = (bool)fm.GetType().GetProperty(el).GetValue(fm);
                            <div id="fodOligos"
                                 class=@(active ? "activeReactant" : "inactiveReactant")
                                 aria-label="@(active ? "contains" : "free of") @(el)"
                                 data-toggle="tooltip"
                                 title="@(active ? "contains" : "free of") @(el)">
                                <div id="fodOligosLabel">
                                    @if (active)
                                    {
                                        <svg focusable="false" aria-hidden="true" height="24" width="24">
                                            <path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                                        </svg>
                                    }
                                    else
                                    {
                                        <svg class="inactiveReactant" focusable="false" aria-hidden="true" height="24" width="24">
                                            <path d="M9 16.17 4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
                                        </svg>
                                    }
                                </div>
                                <div class="@(active ? "" : "strikeThrough" )">
                                    @el
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div>Select New!</div>

    <div class="card fodCard col-6 p">
        <div id="fodColor" class="fodFlag fodBlue"></div>
        <div class="card-body">
            <div class="MuiTypography-root MuiTypography-h5 css-ag7rrr-MuiTypography-root">
                <h4 id="fodName" class="fodTitle">No Fodmap Selected</h4>
            </div>
            <div id="fodCategory">
                Category

            </div>
            <div class="d-flex align-items-end">
                <div class="fodAliasLabel">Aliases: &nbsp;</div>
                <div id="fodAlias" class="fodAlias">None</div>
            </div>
            <div id="fodDailyIntake" class="d-flex justify-content-between pt-2">
                <div id="fodDot" class="fodColorCircle fodBlue"></div>

                <div id="fodMaxIntakeContainer">


                    <div class="fodUnknownContainer">
                        <div>
                            <svg class="fodCheckUnknown" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 16 16">
                                <path d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class=" fodElements">
                    <div id="elementsContainer">
                        @foreach (var el in new string[] { "Oligos", "Fructose", "Polyols", "Lactose" })
                        {
                            <div id="fodOligos" class="inactiveReactant" aria-label="contains @el">
                                @* TODO: UPDATE ARIA *@
                                <div id="fodOligosLabel">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14" />
                                    </svg>
                                </div>
                                <div>
                                    @el
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        <script>
            fodMapList = @Json.Serialize(Model.FodmapList);
        </script>
        <script src="~/js/fodmap.js"></script>
        <script src="~/js/product.js"></script>
        <script src="~/js/food.js"></script>
    }
}